html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}


@font-face {
    font-family:'Roboto';
    src:url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight:400;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family:'Roboto';
    src:url('../fonts/Roboto-Medium.ttf') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight:500;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family:'Roboto';
    src:url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight:700;
    font-style:normal;
    font-display:swap;
}


html, body {
    background:#fff;
    font-family:'Roboto';
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

ol, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

strong {
    font-weight:bold;
}

a {
    color:#e8bf41;
}

input, button {
    -webkit-appearance:none;
    appearance:none;
    outline:none;
    border:none;
    background-color:transparent;
    padding:0;
    margin:0;
}

.section {
    position:relative;
    display:block;
    width:100%;
    height:auto;
    max-width:900px;
    margin:0 auto;
}

.pic {
    display:block;
    line-height:0;
}

.pic img {
    width:100%;
    height:auto;
}

.section-full {
    overflow:hidden;
}

.inner-full,
.pic-full {
    width:100%;
    height:100%;
}
.pic-full img {
    width:100%;
    height:100%;
    -webkit-object-fit:cover;
    object-fit:cover;
}

.warning-slogan {
    position:absolute;
    left:0;
    bottom:2.2vh;
    width:100%;
    height:auto;
    display:flex;
    justify-content:center;
    z-index:3;
}
.warning-slogan img {
    width:87.73333%;
}


.inr-full,
.step {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}


.logo {
    width:100%;
    height:auto;
}
.logo a {
    display:block;
    width:149px;
    margin:0 auto;
}


/*Input*/
.form-control {
    margin-bottom:16px;
}
.input-txt {
    width:100%;
    max-width:300px;
    height:42px;
    padding:3px 40px;
    background:url(../images/input-txt-bg.png) no-repeat center center;
    background-size:100% auto;
    font-size:15px;
    font-family:'Roboto';
    font-weight:500;
    color:#08853a;
}
.input-txt::placeholder,
.select-input::placeholder,
.area-txt::placeholder {
    color:#808080;
}
.input-txt:-ms-input-placeholder,
.select-input:-ms-input-placeholder,
.area-txt:-ms-input-placeholder {
    color:#808080;
}
.input-txt::-moz-placeholder,
.select-input::-moz-placeholder,
.area-txt::-moz-placeholder {
    color:#808080;
    opacity:1;
}


.control-error {
    padding:3px 10px 0 10px;
    font-size:12px;
    color:#f00;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display:none;
}
.show-error .control-error {
    display:block;
}


.check-item {
    display:flex;
}
.check-input {
    position:relative;
    width:19px;
    height:19px;
}

.check-input::before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    -webkit-filter:grayscale(1);
    filter:grayscale(1);
}

/*
.check-input::before,
.check-input::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    -webkit-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
}
.check-input::before {
    background:url(../images/check-grey.png) no-repeat center center;
    background-size:100% auto;
}
.check-input::after {
    background:url(../images/check-green.png) no-repeat center center;
    background-size:100% auto;
    opacity:0;
}
.check-input:checked::before {
    opacity:0;
}
.check-input:checked::after {
    opacity:1;
}
*/

.check-input::before {
    background:url(../images/check-green.png) no-repeat center center;
    background-size:100% auto;
}
.check-input:checked::before {
    -webkit-filter:grayscale(0);
    filter:grayscale(0);
}

.check-item label {
    font-weight:500;
    padding-left:10px;
}

.type-square .check-input::before {
    background:url(../images/check-green-square.png) no-repeat center center;
    background-size:100% auto;
}



/*Button*/
.buts{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.but {
    width:100%;
    height:43px;
    max-width:218px;
    background:url(../images/button-bg-green.png) no-repeat center center;
    background-size:100% auto;
    text-align:center;
}
.but span {
    position:relative;
    z-index:3;
    font-weight:500;
    font-size:15px;
    color:#08853a;
}

.but-age {
    
}
.but-age  span {
    color:#fff;
    font-weight:700;
    font-size:18px;
}



/*link*/
.link {
    font-weight:500;
    font-size:15px;
    color:#08853a;
    text-decoration:none;
}
.link-forgot {
    padding:14px 5px;
}



/*Age Gate*/
.age-gate {
    display:flex;
    flex-wrap:wrap;
    align-content:center;
    justify-content:center;
    padding-bottom:40px;
}
.age-pic {
    width:100%;
    display:flex;
    justify-content:center;
    margin-bottom:18px;
}
.age-pic img {
    width:260px;
}
.age-gate .check-item label  {
    font-size:15px;
    color:#fff;
}
.age-box {
    width:218px;
}
.age-select,
.age-box .check-list {
    width:100%;
}
.age-select .but {
    margin-bottom:10px;
}
.age-box .check-list {
    padding-top:30px;
}
.age-box .check-item {
    margin-bottom:15px;
    align-items:center;
}
.age-box .check-input::before {
    -webkit-filter:grayscale(0);
    filter:grayscale(0);
}



/*Valid Password list*/
.passord-valid__list{
    padding-top:20px;
}
.passord-valid__item {
    position:relative;
    font-weight:500;
    font-size:13px;
    color:#000;
    min-height:19px;
    margin-bottom:12px;
    padding-left:30px;
    padding-top:4px;
}
.passord-valid__item::before,
.passord-valid__item::after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:19px;
    height:19px;
    -webkit-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
    
}
.passord-valid__item::before {
    background:url(../images/check-grey.png) no-repeat center center;
    background-size:100% auto;
}
.passord-valid__item::after {
    background:url(../images/check-green.png) no-repeat center center;
    background-size:100% auto;
    opacity:0;
}
.passord-valid__item.valid::before {
    opacity:0;
}
.passord-valid__item.valid::after {
    opacity:1;
}


/*Sign up*/
.signup, .login {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    padding-bottom:40px;
    background:url(../images/mash-bg.jpg) no-repeat center top;
    background-color:#fff;
}
.signup .inr-detail,
.login .inr-detail {
    width:100%;
}
.signup .form-box,
.login .form-box {
    width:300px;
    margin:0 auto;
    padding-top:36px;
}
.login-help {
    position:absolute;
    left:0;
    bottom:16px;
    width:100%;
    height:auto;
    z-index:3;
}
.login-help p {
    font-size:20px;
    font-weight:500;
    color:#808080;
    text-align:center;
}
.login-help p a{
    color:#08853a;
    text-decoration:none;
}

.login .check-list {
    margin-bottom:20px;
}


/*Title*/
h1, h2 { }

/*Reset number input*/
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
input[type=number] {
    -moz-appearance:textfield;
}


@media screen and (min-width:841px) and (max-width:1440px){
}


@media screen and (max-width:380px) and (max-height:670px) {

}

@media (min-width:1020px) {
    .section-full {
        width:375px;
        height:100vh !important;
    }
}


@media (orientation:landscape) and (max-width:900px) {
    .section-full {
        height:auto !important;
    }
}


