html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block;
}

@font-face {
    font-family:'Nunito Sans';
    src:url('../fonts/NunitoSans-Black.woff2') format('woff2'), url('../fonts/NunitoSans-Black.woff') format('woff'), url('../fonts/NunitoSans-Black.ttf') format('truetype');
    font-weight:900;
    font-style:normal;
    font-display:swap;
}

html, body {
    background:#fff;
    font-family:'Nunito Sans', sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

ol, ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

strong {
    font-weight:bold;
}

a {
    color:#e8bf41;
}

input, button {
    -webkit-appearance:none;
    appearance:none;
    outline:none;
    border:none;
    background-color:transparent;
    padding:0;
    margin:0;
}

.section {
    position:relative;
    display:block;
    width:100%;
    height:auto;
    max-width:900px;
    margin:0 auto;
}

.pic {
    display:block;
    line-height:0;
}

.pic img {
    width:100%;
    height:auto;
}

/*
.section-full {
    overflow:hidden;
}

.inner-full,
.pic-full {
    width:100%;
    height:100%;
}

.pic-full img {
    height:100%;
    width:auto;
    margin:0 -50%;
}
.inr-full {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
*/

.input-txt {
    width:100%;
    height:40px;
    line-height:38px;
    border:1px solid #000;
}



/*Title*/
h1, h2 { }

/*Reset number input*/
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
input[type=number] {
    -moz-appearance:textfield;
}

@media screen and (min-width:841px) and (max-width:1440px){
}


@media screen and (max-width:380px) and (max-height:670px) {

}

@media (orientation:landscape) and (max-width:900px), (min-width:1020px) {
    .section-full {
        height:auto !important;
    }
}
